/* projects.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll on body */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.projects-grid {
    display: flex;
    overflow-x: auto; /* Enable horizontal scroll */
    scroll-snap-type: x mandatory; /* Snap to each project card */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.projects-grid::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.project-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(9, 91, 242, 0.76);
    overflow: hidden;
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: 300px;
    height: auto;
    text-align: left;
    margin: 20px;
    scroll-snap-align: center; /* Snap alignment */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project-card h3 {
    font-size: 1.8em;
    margin: 16px 0;
}

.project-card p {
    font-size: 1em;
    margin: 0 0 16px;
    color: #555;
}

.project-card h4 {
    font-size: 1.2em;
    margin: 16px 0 8px;
}

.tech-stack {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.tech-stack i {
    font-size: 40px;
    color: #555;
}
